:root {
  --container-width: 1920px;
  --sidebar-width: 300px;
  --toc-width: 250px;
  --header-height: 3rem;
  --light-gray: #dadde1;
  --light-gray-bg: #fcfcfd;
  --light-gray-text: #82888f;
  --green-primary: #2e8555;
  --footer-background: #f5f6f7;
  --hidden-sidebar-width: 30px;
  --standard-transition-timing: 300ms;
  --fast-transition-timing: 200ms;
  --really-fast-transition-timing: 150ms;
  --instant-transition-timing: 25ms;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#header {
  border-bottom: 1px solid var(--light-gray);
  height: var(--header-height);
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: white;
  padding: 0 1rem;
};

#container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}
.outer-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  flex: 1 0 auto;
}

.post-container {
  flex: 1;
  margin: 0 auto;
  max-width: calc(var(--container-width) - var(--toc-width));
  display: flex;
}

.page-body { 
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 6rem);
  width: 100%;
}

.sidebar-container {
  width: var(--sidebar-width);
  transition: width var(--standard-transition-timing) ease;
  will-change: width;
  margin-top: calc(var(--header-height)*-1);
  border-right: 1px solid var(--light-gray);
  clip-path: inset(0);
  background-color: var(--light-gray-bg);
}

.sidebar-container-hidden {
  width: calc(var(--hidden-sidebar-width));
}

.sidebar {
  width: calc(var(--sidebar-width)); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  height: 100%;
  position: sticky;
  top: 0;
  overflow-y: auto;
  color: var(--light-gray-text);
  word-wrap: break-word;
  transition: opacity 50ms;
  padding-top: var(--header-height);
}

.sidebar .dropdown-label {
  display: flex;
  justify-content: space-between;
  padding: 3px 0.5em;
  border-radius: 5px;
  /* align-items: center; */
}

.sidebar .dropdown-label:after {
  transition: transform var(--instant-transition-timing) linear;
  transform: rotate(0);
  width: 1em;
  height: 1em;
  transform-origin: 50% 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  content: '›';
}

.sidebar .expanded > .dropdown-label:after {
  transition: transform var(--really-fast-transition-timing) linear;
  transform: rotate(90deg);
}

.sidebar .dropdown-label .label-text {
  max-width: 85%;
  word-wrap: break-word;
}

.sidebar-hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.sidebar li {
  list-style:none;
  padding-top: 5px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar ul:first-child {
  margin-top: 0;
}

.sidebar ul:first-child {
  padding-inline-start: 0;
}

.sidebar ul:not(:first-child) {
  padding-inline-start: 1em;
}

.sidebar ul {
  height: 0;
  overflow: hidden; 
  opacity: 0;
  transition: opacity 1s ease;
}

.sidebar .expanded > ul {
  height: auto;
  opacity: 1;
}

.sidebar .button {
  background-color: transparent;
  cursor: pointer;
  border-top: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  border-left: 0px;
  border-bottom: 0px;
  transition: all var(--standard-transition-timing) ease;
  padding: 10px;
  font-size: 1rem;
  color: var(--light-gray-text);
}

.sidebar .button:hover {
  background-color: #eee;
}

.sidebar .tree-section {
  padding: 0.5em;
}

.hidden-sidebar {
  max-height: 100vh;
  height: 100%;
  width: calc(var(--hidden-sidebar-width) - 1px); 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  top: var(--header-height);
  font-size: 1rem;
  transition: background-color var(--standard-transition-timing) ease;
  margin: 0 auto;
  color: var(--light-gray-text);
}

.hidden-sidebar:hover {
  background-color: #eee;
} 

.table-of-content-container {
  width: var(--toc-width);
  font-size: 12px;
  position: relative;
  background-color: white;
}

.table-of-content {
  margin-top: 1rem;
  width: calc(var(--toc-width) - 1rem);
  border-left: 1px solid var(--light-gray);
  font-size: 12px;
  color: var(--light-gray-text);
  max-height: calc(100vh - 3rem); 
  top: calc(var(--header-height) + 1rem);
  position: sticky;
  word-break: break-all;
  z-index: 10;
  overflow-y: auto;
}

.table-of-content ul {
  padding-inline-start: 1.5em;
  list-style: none;
}

.table-of-content li > span {
  cursor: pointer;
}

.table-of-content li > span:hover {
  color: hsla(34, 83%, 49%, 0.493);
}

.page-content {
  padding: 1em;
  flex: 1;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-gray-text {
  color: var(--light-gray-text);
}

.red-text {
  color: red;
}

#header .right-section {
  margin-left: auto;
  display: flex;  
}

#header .logo-section {
  margin-right: 97px;
}

.post-nav .post-nav-button {
  background: white;
  padding: 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-style: bold;
  color: var(--green-primary);
  cursor: pointer;
  width: 250px;
  transition: border 0.3s ease;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.post-nav .post-nav-button:hover {
  border: 1px solid var(--green-primary);
}

.active-link {
  transition: color 0.3s ease;
} 

.language-selector {
  position: relative;
  display: flex;
  align-items: center;
}

.language-selector .icon-language {
  margin-right: 5px;
}

.language-selector .current-language:after {
  border-color: currentcolor transparent;
  border-style: solid;
  border-width: 0.4em 0.4em 0;
  content: "";
  margin-left: 0.3em;
  position: relative;
  top: 16px;
  transform: translateY(-50%);
}

.language-selector .current-language:hover {
  color: var(--green-primary);
  cursor: pointer;
}

.language-selector .language-dropdown-menu {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 0.0rem);
  right: 0;
  border-radius: 0.4rem;
  box-shadow: 0 5px 40px rgba(0,0,0,.2);
  list-style: none;
  max-height: 80vh;
  min-width: 10rem;
  overflow-y: auto;
  padding: 0.5rem;
  transform: translateY(-0.625rem);
  transition-duration: var(--fast-transition-timing);
  transition-property: opacity,transform,visibility;
  transition-timing-function: cubic-bezier(0.08,0.52,0.52,1);
  z-index: 16;
  margin: 0;
}

.language-selector .language-dropdown-menu.shown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.language-selector .language-dropdown-menu li{
  padding: 5px;
  font-size: 15px;
  transition-property: background-color,color;
  transition-duration: var(--standard-transition-timing);
  transition-timing-function: ease;
}

.language-selector .language-dropdown-menu li.active, 
.language-selector .language-dropdown-menu li:hover {
  background-color: rgba(0,0,0,0.05);
  color: var(--green-primary);
}

.language-selector .language-dropdown-menu li:hover {
  cursor: pointer;
}

.normal-link {
  text-decoration: none;
}

.footer {
  padding: 2rem;
  /* border-top: 1px solid var(--light-gray); */
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--footer-background);
  justify-content: center;
}

.footer .footer-container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer .footer-container .link-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.footer .footer-container .link-area .item-title {
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer .footer-container .link-area .link-item {
  width: 100%;
  flex: 1 0;
  margin-left: 0;
  color: var(--light-gray-text);
  transition: color var(--fast-transition-timing) ease;
  line-height: 2;
  font-weight: 300;
}

.footer .footer-container .link-area .link-item:hover {
  color: var(--green-primary);
}

.footer .footer-container .copyright-area {
  text-align: center;
  width: 100%;
  font-weight: 300;
}


@media (min-width: 1440px) {
  .footer .footer-container {
    max-width: 1320px;
  }
}
