.container {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.postContainer {
  padding: 1em;
  overflow-y: scroll;
  flex: 1;
  height: 100%;
}

.body { 
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 6rem);
  width: 100%;
}