.sidebar {
  width: 25vw;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfd;
  height: calc(100vh - 3rem); 
  position: fixed;
  top: 3rem;
  z-index: 10;
}

.hiddenSidebar {
  height: 100%;
  border-right: 1px solid black;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fcfcfd;
}

.sidebar li {
  list-style:none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar ul {
  padding-inline-start: 1.5em;
}

.button {
  background-color: #fcfcfd;
  cursor: pointer;
  border-top: 1px solid gray;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.hiddenSidebar:hover {
  background-color: #f3f3f3;
} 