:root {
  --ifm-container-width: 1920px;
  --sidebar-width: 300px;
  --header-height: 3rem;
  --light-gray: #c3c3c3;
  --light-gray-text: #82888f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#header {
  border-bottom: 1px solid var(--light-gray);
  height: var(--header-height);
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: white;
};

#container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  position: relative;
}
.outer-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  position: relative;
}

.post-container {
  flex: 1;
  margin: 0 auto;
  max-width: calc(var(--ifm-container-width) - var(--sidebar-width));
  display: flex;
}

.page-body { 
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 6rem);
  width: 100%;
}

.sidebar {
  width: var(--sidebar-width);
  border-right: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfd;
  height: calc(100vh - var(--header-height)); 
  position: sticky;
  top: var(--header-height);
  z-index: 10;
  word-break: break-all;
  overflow-y: auto;
  color: var(--light-gray-text);
}

.hidden-sidebar {
  height: calc(100vh - var(--header-height));
  border-right: 1px solid var(--light-gray);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fcfcfd;
  position: sticky;
  top: var(--header-height);
  z-index: 10;
}

.sidebar li {
  list-style:none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar ul {
  padding-inline-start: 1.5em;
}

.sidebar .button {
  background-color: #fcfcfd;
  cursor: pointer;
  border-top: 1px solid var(--light-gray);
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.hidden-sidebar:hover {
  background-color: #f3f3f3;
} 

#sidebar ul {
  display: none;
}

#sidebar .expand > ul {
  display: block 
}

#sidebar .tree-section {
  padding: 1em;
}

.table-of-content-container {
  width: var(--sidebar-width);
  /* border-left: 1px solid black; */
  font-size: 12px;
  position: relative;
  background-color: white;
}

.table-of-content {
  margin-top: 1rem;
  width: calc(var(--sidebar-width) - 1rem);
  border-left: 1px solid var(--light-gray);
  font-size: 12px;
  color: var(--light-gray-text);
  max-height: calc(100vh - 3rem); 
  top: calc(var(--header-height) + 1rem);
  position: sticky;
  word-break: break-all;
  z-index: 10;
  overflow-y: auto;
}

.table-of-content ul {
  padding-inline-start: 1.5em;
  list-style: none;
}

.table-of-content li > span {
  cursor: pointer;
}

.table-of-content li > span:hover {
  color: hsla(34, 83%, 49%, 0.493);
}

#sidebar .sidebar-item:hover {
  color: rgba(12, 88, 94, 0.5);
}

.page-content {
  padding: 1em;
  flex: 1;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 0 1.5em;
  border-top: 1px solid var(--light-gray);
  height: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
}

.light-gray-text {
  color: var(--light-gray-text);
}

.red-text {
  color: red;
}